.root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 70px;
  padding: 10px 0 10px 20px;

  border-bottom: 1px solid var(--gray);

  transition: background-color 0.3s ease 0s;

  &:hover {
    background-color: var(--purpure300);
  }
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.buttons {
  display: flex;
  gap: 1px;
  align-items: center;
}

.img {
  cursor: pointer;

  position: relative;
  z-index: 2;

  width: 50px;
  height: 50px;
  padding: 10px;

  color: var(--white);

  object-fit: scale-down;
  filter: brightness(0) saturate(100%) invert(43%) sepia(7%) saturate(950%) hue-rotate(263deg) brightness(95%) contrast(86%);

  transition: filter 0.3s ease 0s;

  &:hover {
    filter: brightness(0) saturate(100%) invert(40%) sepia(28%) saturate(717%) hue-rotate(264deg) brightness(87%) contrast(89%);
  }
}

.title {
  color: var(--brown);
}

.date {
  color: var(--gray);
}

.link {
  position: absolute;
  inset: 0;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.modalText {
  text-align: center;
}
