.root {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 200ms ease;
}

.root[type="submit"],
.root {
  color: var(--white);
  background-color: var(--purpure400);

  &:hover {
    background-color: var(--purpure500);
  }
}

.root:disabled {
  cursor: not-allowed;
}
