.root {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list {
  display: flex;
  border-spacing: 0;
  flex-direction: column;
  gap: 5px;
}

.item {
  cursor: pointer;

  &:not(:first-child) {
    border: 1px solid black;
    border-width: 1px 0 0;
  }
}

.itemContainer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  padding-left: 20px;

  &::before {
    content: "";

    position: absolute;
    left: 5px;

    width: 6px;
    height: 6px;

    background-color: var(--purpure400);
    border-radius: 50%;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}

.close {
  cursor: pointer;

  position: relative;

  width: 20px;
  height: 20px;

  color: var(--purpure400);

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 15%;
    left: calc(50% - 1px);

    width: 2px;
    height: 70%;

    background: currentcolor;
    border-radius: 2px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.addAnswer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
