.root {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  border-bottom: var(--purpure200) 2px solid;
}

.button {
  padding: 20px 10px;
  color: var(--white);
  background-color: var(--purpure400);
  transition: background-color 0.3s ease 0s;

  &:hover {
    background-color: var(--purpure500);
  }
}

.filter {
  display: flex;
  width: 100%;
  padding: 20px;
}

.search {
  width: 100%;

  &::-webkit-search-cancel-button {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(43%) sepia(7%) saturate(950%) hue-rotate(263deg) brightness(95%) contrast(86%);
    transition: all 0.3s ease 0s;

    &:hover {
      filter: brightness(0) saturate(100%) invert(40%) sepia(28%) saturate(717%) hue-rotate(264deg) brightness(87%) contrast(89%);
    }
  }
}
