.input[type="checkbox"] {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.label {
  width: 20px;
  height: 20px;
}

.checkbox {
  display: inline-block;

  width: 20px;
  height: 20px;
  margin-right: 4px;

  background: #ffffff;
  border: 2px #dddddd solid;
  border-radius: 5px;
}

.checkboxActive {
  background: var(--purpure500);
}
