:root {
  --white: #ffffff;
  --purpure100: #f4edf1;
  --purpure200: #ded1d8;
  --purpure300: #fffcf6;
  --purpure400: #7f6879;
  --purpure500: #8c537c;
  --purpure800: #372a4c;
  --gray: #9c9398;
  --brown: #252422;
}
