.root {
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.list {
  padding-top: 40px;
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.numberInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 7px 18px;

  background-color: var(--purpure300);
  border: 1px solid var(--gray);
  border-radius: 4px;

  transition: background-color 0.3s ease 0s;

  &:focus {
    background-color: var(--white);
  }
}
